@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --red: #FF0000;
    --darkRed: #8b0000;
}

.dropdown {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.activeSelectLang {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.Slider {
    width: 100%;
    height: 100vh;
}

.Slider .slide {
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity linear 0.8s;
}

.Slider .slide .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.Slider .slide .fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.Slider .slide .title {
    width: 65rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.3rem 0.3rem .8rem black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.Slider .slide .btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 2px;
}

.Slider .slide.active {
    opacity: 1;
}

.Slider .btn-slide {
    height: 60px;
    background: none;
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: gray;
}

.Slider .btn-slide:hover {
    color: white;
}

.Slider .btn-slide.prev {
    left: 30px;
}

.Slider .btn-slide.next {
    right: 30px;
}

.Slider .container-circle {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.Slider .container-circle .circle {
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.Slider .container-circle .circle.active {
    background: white;
}

@media (max-width: 1050px) {
    .Slider .slide .title {
        font-size: 3rem;
        padding: 0 60px;
    }
}

@media (max-width: 960px) {
    .Slider .slide .title {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 2rem;
    }
}


@media (max-width: 420px) {
    .Slider .slide .title {
        font-size: 1.9rem;
    }

    .Slider .btn-slide {
        display: none;
    }

    .Slider .container-circle {
        bottom: 20px;
    }
}


.btn {
    display: inline-block;
    margin: 20px;
    padding: 20px 40px;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: var(--red);
    font-weight: 700;
    color: wheat;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--darkRed);
}